
.skills {
    width: 65%;
    text-align: center;
    margin: 3rem auto;
    margin-bottom: 6rem;
}

.skills h2 {
    margin-bottom: 3rem;
}

.skill-logos {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 10rem;
}

.skill-logos img {
    width: 100px;
}