
.about{
    width: 65%;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 6rem;
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.about img {
    width: 18rem;
}